<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <style>
      * {
        margin: 0;
        padding: 0;
      }

      body {
        text-align: center;
      }

      img {
        vertical-align: middle;
      }
    </style>
  </head>
  <body>
    {{#each images}}
      <div><img src="{{this}}" /></div>
    {{/each}}
  </body>
</html>
